ENV="development"   # development or production
NODE_ENV="${ENV}"

VITE_API_URL="http://localhost:4000"   # backend url
VITE_SITE_URL="http://localhost:5173"  # frontend url

PORT="5173" # port for preview (development)